--
-- PostgreSQL database dump
--

\restrict m3eIov2LjDafck3dyozgi9zJysLr716tTtI8879fAsMxbp7aNmlE8s4aU8aKmsc

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: unaccent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS unaccent WITH SCHEMA public;


--
-- Name: EXTENSION unaccent; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION unaccent IS 'text search dictionary that removes accents';


--
-- Name: authenticity_status; Type: TYPE; Schema: public; Owner: nova
--

CREATE TYPE public.authenticity_status AS ENUM (
    'active',
    'revoked',
    'expired'
);


ALTER TYPE public.authenticity_status OWNER TO nova;

--
-- Name: drop_status; Type: TYPE; Schema: public; Owner: nova
--

CREATE TYPE public.drop_status AS ENUM (
    'scheduled',
    'live',
    'sold_out',
    'ended',
    'cancelled'
);


ALTER TYPE public.drop_status OWNER TO nova;

--
-- Name: order_status; Type: TYPE; Schema: public; Owner: nova
--

CREATE TYPE public.order_status AS ENUM (
    'pending',
    'paid',
    'shipped',
    'delivered',
    'cancelled',
    'refunded'
);


ALTER TYPE public.order_status OWNER TO nova;

--
-- Name: push_platform; Type: TYPE; Schema: public; Owner: nova
--

CREATE TYPE public.push_platform AS ENUM (
    'ios',
    'android',
    'web'
);


ALTER TYPE public.push_platform OWNER TO nova;

--
-- Name: unit_status; Type: TYPE; Schema: public; Owner: nova
--

CREATE TYPE public.unit_status AS ENUM (
    'in_stock',
    'reserved',
    'sold',
    'returned',
    'revoked'
);


ALTER TYPE public.unit_status OWNER TO nova;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: nova
--

CREATE TYPE public.user_role AS ENUM (
    'customer',
    'admin',
    'authenticator'
);


ALTER TYPE public.user_role OWNER TO nova;

--
-- Name: waitlist_status; Type: TYPE; Schema: public; Owner: nova
--

CREATE TYPE public.waitlist_status AS ENUM (
    'waiting',
    'notified',
    'converted',
    'left'
);


ALTER TYPE public.waitlist_status OWNER TO nova;

--
-- Name: immutable_unaccent(text); Type: FUNCTION; Schema: public; Owner: nova
--

CREATE FUNCTION public.immutable_unaccent(text) RETURNS text
    LANGUAGE sql IMMUTABLE STRICT PARALLEL SAFE
    AS $_$ SELECT public.unaccent('public.unaccent'::regdictionary, $1) $_$;


ALTER FUNCTION public.immutable_unaccent(text) OWNER TO nova;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: nova
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ BEGIN NEW.updated_at := now(); RETURN NEW; END $$;


ALTER FUNCTION public.set_updated_at() OWNER TO nova;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_tool_calls; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.ai_tool_calls (
    id bigint NOT NULL,
    conversation_id uuid NOT NULL,
    user_id uuid,
    tool_name character varying(60) NOT NULL,
    arguments jsonb NOT NULL,
    result_ids uuid[] DEFAULT '{}'::uuid[] NOT NULL,
    latency_ms integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ai_tool_calls OWNER TO nova;

--
-- Name: ai_tool_calls_id_seq; Type: SEQUENCE; Schema: public; Owner: nova
--

CREATE SEQUENCE public.ai_tool_calls_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_tool_calls_id_seq OWNER TO nova;

--
-- Name: ai_tool_calls_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nova
--

ALTER SEQUENCE public.ai_tool_calls_id_seq OWNED BY public.ai_tool_calls.id;


--
-- Name: authenticity_checks; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.authenticity_checks (
    id bigint NOT NULL,
    code_scanned character varying(64) NOT NULL,
    product_id uuid,
    unit_id uuid,
    user_id uuid,
    result character varying(20) NOT NULL,
    source character varying(10) NOT NULL,
    ip_hash text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT authenticity_checks_result_check CHECK (((result)::text = ANY (ARRAY[('valid'::character varying)::text, ('revoked'::character varying)::text, ('not_found'::character varying)::text, ('suspicious'::character varying)::text]))),
    CONSTRAINT authenticity_checks_source_check CHECK (((source)::text = ANY (ARRAY[('web'::character varying)::text, ('mobile'::character varying)::text])))
);


ALTER TABLE public.authenticity_checks OWNER TO nova;

--
-- Name: authenticity_checks_id_seq; Type: SEQUENCE; Schema: public; Owner: nova
--

CREATE SEQUENCE public.authenticity_checks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.authenticity_checks_id_seq OWNER TO nova;

--
-- Name: authenticity_checks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nova
--

ALTER SEQUENCE public.authenticity_checks_id_seq OWNED BY public.authenticity_checks.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.categories (
    id smallint NOT NULL,
    slug character varying(60) NOT NULL,
    name character varying(80) NOT NULL,
    parent_id smallint
);


ALTER TABLE public.categories OWNER TO nova;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: nova
--

CREATE SEQUENCE public.categories_id_seq
    AS smallint
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO nova;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nova
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: drop_products; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.drop_products (
    drop_id uuid NOT NULL,
    product_id uuid NOT NULL,
    allocation integer,
    max_per_user smallint DEFAULT 1 NOT NULL,
    CONSTRAINT drop_products_allocation_check CHECK (((allocation IS NULL) OR (allocation > 0))),
    CONSTRAINT drop_products_max_per_user_check CHECK ((max_per_user > 0))
);


ALTER TABLE public.drop_products OWNER TO nova;

--
-- Name: drop_waitlist; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.drop_waitlist (
    drop_id uuid NOT NULL,
    user_id uuid NOT NULL,
    status public.waitlist_status DEFAULT 'waiting'::public.waitlist_status NOT NULL,
    joined_at timestamp with time zone DEFAULT now() NOT NULL,
    notified_at timestamp with time zone
);


ALTER TABLE public.drop_waitlist OWNER TO nova;

--
-- Name: drops; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.drops (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(160) NOT NULL,
    slug character varying(180) NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    cover_url text,
    launch_at timestamp with time zone NOT NULL,
    ends_at timestamp with time zone,
    status public.drop_status DEFAULT 'scheduled'::public.drop_status NOT NULL,
    announced_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT drops_dates CHECK (((ends_at IS NULL) OR (ends_at > launch_at)))
);


ALTER TABLE public.drops OWNER TO nova;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.order_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_id uuid NOT NULL,
    product_id uuid NOT NULL,
    unit_id uuid,
    quantity integer NOT NULL,
    unit_price_cents bigint NOT NULL,
    product_name character varying(160) NOT NULL,
    CONSTRAINT order_items_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT order_items_unit_price_cents_check CHECK ((unit_price_cents >= 0))
);


ALTER TABLE public.order_items OWNER TO nova;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.orders (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    status public.order_status DEFAULT 'pending'::public.order_status NOT NULL,
    subtotal_cents bigint NOT NULL,
    shipping_cents bigint DEFAULT 0 NOT NULL,
    total_cents bigint GENERATED ALWAYS AS ((subtotal_cents + shipping_cents)) STORED,
    currency character(3) DEFAULT 'COP'::bpchar NOT NULL,
    shipping_address jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT orders_shipping_cents_check CHECK ((shipping_cents >= 0)),
    CONSTRAINT orders_subtotal_cents_check CHECK ((subtotal_cents >= 0))
);


ALTER TABLE public.orders OWNER TO nova;

--
-- Name: product_images; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.product_images (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid NOT NULL,
    url text NOT NULL,
    alt_text character varying(200),
    "position" smallint DEFAULT 0 NOT NULL
);


ALTER TABLE public.product_images OWNER TO nova;

--
-- Name: product_units; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.product_units (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid NOT NULL,
    unit_code character varying(64) NOT NULL,
    status public.unit_status DEFAULT 'in_stock'::public.unit_status NOT NULL,
    verified_by uuid,
    verified_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT product_units_code_format CHECK (((unit_code)::text ~ '^VKU-[A-Z0-9-]{8,60}$'::text))
);


ALTER TABLE public.product_units OWNER TO nova;

--
-- Name: products; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.products (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(160) NOT NULL,
    slug character varying(180) NOT NULL,
    category_id smallint NOT NULL,
    brand character varying(80),
    description text DEFAULT ''::text NOT NULL,
    price_cents bigint NOT NULL,
    currency character(3) DEFAULT 'COP'::bpchar NOT NULL,
    stock integer DEFAULT 0 NOT NULL,
    authenticity_code character varying(64) NOT NULL,
    authenticity_status public.authenticity_status DEFAULT 'active'::public.authenticity_status NOT NULL,
    attributes jsonb DEFAULT '{}'::jsonb NOT NULL,
    is_published boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    search_vector tsvector GENERATED ALWAYS AS (((setweight(to_tsvector('spanish'::regconfig, public.immutable_unaccent((COALESCE(name, ''::character varying))::text)), 'A'::"char") || setweight(to_tsvector('spanish'::regconfig, public.immutable_unaccent((COALESCE(brand, ''::character varying))::text)), 'B'::"char")) || setweight(to_tsvector('spanish'::regconfig, public.immutable_unaccent(COALESCE(description, ''::text))), 'C'::"char"))) STORED,
    CONSTRAINT products_auth_code_format CHECK (((authenticity_code)::text ~ '^VKT-[A-Z0-9-]{8,60}$'::text)),
    CONSTRAINT products_price_cents_check CHECK ((price_cents >= 0)),
    CONSTRAINT products_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.products OWNER TO nova;

--
-- Name: push_tokens; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.push_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    expo_token text NOT NULL,
    platform public.push_platform NOT NULL,
    notify_drops boolean DEFAULT true NOT NULL,
    last_seen_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.push_tokens OWNER TO nova;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.refresh_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    token_hash text NOT NULL,
    client character varying(20) DEFAULT 'web'::character varying NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked_at timestamp with time zone,
    replaced_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO nova;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.reviews (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid NOT NULL,
    user_id uuid NOT NULL,
    rating smallint NOT NULL,
    comment text,
    photo_url text,
    verified_purchase boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT reviews_comment_check CHECK ((char_length(comment) <= 2000)),
    CONSTRAINT reviews_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.reviews OWNER TO nova;

--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.schema_migrations (
    filename text NOT NULL,
    applied_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.schema_migrations OWNER TO nova;

--
-- Name: users; Type: TABLE; Schema: public; Owner: nova
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(120) NOT NULL,
    email public.citext NOT NULL,
    password_hash text NOT NULL,
    role public.user_role DEFAULT 'customer'::public.user_role NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT users_email_format CHECK ((email OPERATOR(public.~*) '^[^@\s]+@[^@\s]+\.[^@\s]+$'::public.citext))
);


ALTER TABLE public.users OWNER TO nova;

--
-- Name: v_authenticity_lookup; Type: VIEW; Schema: public; Owner: nova
--

CREATE VIEW public.v_authenticity_lookup AS
 SELECT p.authenticity_code AS code,
    'product'::text AS code_type,
    p.id AS product_id,
    NULL::uuid AS unit_id,
    p.name AS product_name,
    (p.authenticity_status = 'active'::public.authenticity_status) AS is_active,
    (p.authenticity_status)::text AS status
   FROM public.products p
UNION ALL
 SELECT u.unit_code AS code,
    'unit'::text AS code_type,
    u.product_id,
    u.id AS unit_id,
    p.name AS product_name,
    ((u.status <> 'revoked'::public.unit_status) AND (p.authenticity_status = 'active'::public.authenticity_status)) AS is_active,
    (u.status)::text AS status
   FROM (public.product_units u
     JOIN public.products p ON ((p.id = u.product_id)));


ALTER VIEW public.v_authenticity_lookup OWNER TO nova;

--
-- Name: v_catalog; Type: VIEW; Schema: public; Owner: nova
--

CREATE VIEW public.v_catalog AS
 SELECT p.id,
    p.slug,
    p.name,
    p.brand,
    c.slug AS category_slug,
    c.name AS category_name,
    p.description,
    p.price_cents,
    p.currency,
    p.stock,
    p.attributes,
    p.authenticity_code,
    p.authenticity_status,
    ( SELECT i.url
           FROM public.product_images i
          WHERE (i.product_id = p.id)
          ORDER BY i."position"
         LIMIT 1) AS cover_url,
    (COALESCE(r.avg_rating, (0)::numeric))::numeric(3,2) AS avg_rating,
    COALESCE(r.review_count, (0)::bigint) AS review_count,
    p.search_vector
   FROM ((public.products p
     JOIN public.categories c ON ((c.id = p.category_id)))
     LEFT JOIN ( SELECT reviews.product_id,
            avg(reviews.rating) AS avg_rating,
            count(*) AS review_count
           FROM public.reviews
          GROUP BY reviews.product_id) r ON ((r.product_id = p.id)))
  WHERE p.is_published;


ALTER VIEW public.v_catalog OWNER TO nova;

--
-- Name: ai_tool_calls id; Type: DEFAULT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.ai_tool_calls ALTER COLUMN id SET DEFAULT nextval('public.ai_tool_calls_id_seq'::regclass);


--
-- Name: authenticity_checks id; Type: DEFAULT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.authenticity_checks ALTER COLUMN id SET DEFAULT nextval('public.authenticity_checks_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Data for Name: ai_tool_calls; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.ai_tool_calls (id, conversation_id, user_id, tool_name, arguments, result_ids, latency_ms, created_at) FROM stdin;
\.


--
-- Data for Name: authenticity_checks; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.authenticity_checks (id, code_scanned, product_id, unit_id, user_id, result, source, ip_hash, created_at) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.categories (id, slug, name, parent_id) FROM stdin;
1	sneakers	Sneakers	\N
2	apparel	Ropa Urbana	\N
3	audio	Audio	\N
4	wearables	Wearables	\N
5	accessories	Accesorios	\N
6	hogar	Hogar	\N
\.


--
-- Data for Name: drop_products; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.drop_products (drop_id, product_id, allocation, max_per_user) FROM stdin;
1927db58-289c-4bed-8eac-5c4c596796a7	422969ec-15d3-4ba9-934e-3fe4bcce2865	\N	1
ef043ba2-99c1-401f-903b-e8b8433858ef	cd910b9c-718e-4f9a-934c-0efde4854dd8	\N	1
\.


--
-- Data for Name: drop_waitlist; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.drop_waitlist (drop_id, user_id, status, joined_at, notified_at) FROM stdin;
\.


--
-- Data for Name: drops; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.drops (id, name, slug, description, cover_url, launch_at, ends_at, status, announced_at, created_at, updated_at) FROM stdin;
1927db58-289c-4bed-8eac-5c4c596796a7	Vokter Winter Drop	nova-winter-drop	Lanzamiento exclusivo de edici??n limitada	\N	2026-12-01 18:00:00+00	\N	scheduled	\N	2026-09-16 21:00:38.49046+00	2026-09-17 21:11:48.294089+00
ef043ba2-99c1-401f-903b-e8b8433858ef	Vokter Tech Drop	nova-tech-drop	Lanzamiento de accesorios tecnol??gicos GOLD.	\N	2026-12-15 23:00:00+00	\N	scheduled	\N	2026-09-16 22:28:22.345209+00	2026-09-17 21:11:48.294089+00
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.order_items (id, order_id, product_id, unit_id, quantity, unit_price_cents, product_name) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.orders (id, user_id, status, subtotal_cents, shipping_cents, currency, shipping_address, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: nova
--



--
-- Data for Name: product_units; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.product_units (id, product_id, unit_code, status, verified_by, verified_at, created_at) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: nova
--



--
-- Data for Name: push_tokens; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.push_tokens (id, user_id, expo_token, platform, notify_drops, last_seen_at, created_at) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.refresh_tokens (id, user_id, token_hash, client, expires_at, revoked_at, replaced_by, created_at) FROM stdin;
\.


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.reviews (id, product_id, user_id, rating, comment, photo_url, verified_purchase, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.schema_migrations (filename, applied_at) FROM stdin;
001_initial_schema.sql	2026-09-18 17:45:12.220157+00
002_seed_categories.sql	2026-09-18 17:45:12.222093+00
003_rename_codes_to_vkt.sql	2026-09-18 17:45:12.225163+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: nova
--

COPY public.users (id, name, email, password_hash, role, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Name: ai_tool_calls_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nova
--

SELECT pg_catalog.setval('public.ai_tool_calls_id_seq', 17, true);


--
-- Name: authenticity_checks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nova
--

SELECT pg_catalog.setval('public.authenticity_checks_id_seq', 6, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nova
--

SELECT pg_catalog.setval('public.categories_id_seq', 6, true);


--
-- Name: ai_tool_calls ai_tool_calls_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.ai_tool_calls
    ADD CONSTRAINT ai_tool_calls_pkey PRIMARY KEY (id);


--
-- Name: authenticity_checks authenticity_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.authenticity_checks
    ADD CONSTRAINT authenticity_checks_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: categories categories_slug_key; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_slug_key UNIQUE (slug);


--
-- Name: drop_products drop_products_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.drop_products
    ADD CONSTRAINT drop_products_pkey PRIMARY KEY (drop_id, product_id);


--
-- Name: drop_waitlist drop_waitlist_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.drop_waitlist
    ADD CONSTRAINT drop_waitlist_pkey PRIMARY KEY (drop_id, user_id);


--
-- Name: drops drops_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.drops
    ADD CONSTRAINT drops_pkey PRIMARY KEY (id);


--
-- Name: drops drops_slug_key; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.drops
    ADD CONSTRAINT drops_slug_key UNIQUE (slug);


--
-- Name: order_items order_items_order_id_product_id_unit_id_key; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_product_id_unit_id_key UNIQUE (order_id, product_id, unit_id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_product_id_position_key; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_product_id_position_key UNIQUE (product_id, "position");


--
-- Name: product_units product_units_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.product_units
    ADD CONSTRAINT product_units_pkey PRIMARY KEY (id);


--
-- Name: product_units product_units_unit_code_key; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.product_units
    ADD CONSTRAINT product_units_unit_code_key UNIQUE (unit_code);


--
-- Name: products products_authenticity_code_key; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_authenticity_code_key UNIQUE (authenticity_code);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_slug_key; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_slug_key UNIQUE (slug);


--
-- Name: push_tokens push_tokens_expo_token_key; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.push_tokens
    ADD CONSTRAINT push_tokens_expo_token_key UNIQUE (expo_token);


--
-- Name: push_tokens push_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.push_tokens
    ADD CONSTRAINT push_tokens_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_token_hash_key; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_token_hash_key UNIQUE (token_hash);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_product_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_product_id_user_id_key UNIQUE (product_id, user_id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (filename);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_ai_tool_calls_conv; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_ai_tool_calls_conv ON public.ai_tool_calls USING btree (conversation_id, created_at);


--
-- Name: idx_auth_checks_code; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_auth_checks_code ON public.authenticity_checks USING btree (code_scanned, created_at DESC);


--
-- Name: idx_drop_products_product; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_drop_products_product ON public.drop_products USING btree (product_id);


--
-- Name: idx_drops_calendar; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_drops_calendar ON public.drops USING btree (launch_at) WHERE (status = ANY (ARRAY['scheduled'::public.drop_status, 'live'::public.drop_status]));


--
-- Name: idx_order_items_product; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_order_items_product ON public.order_items USING btree (product_id);


--
-- Name: idx_orders_user; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_orders_user ON public.orders USING btree (user_id, created_at DESC);


--
-- Name: idx_product_units_product; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_product_units_product ON public.product_units USING btree (product_id);


--
-- Name: idx_products_attrs; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_products_attrs ON public.products USING gin (attributes jsonb_path_ops);


--
-- Name: idx_products_catalog; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_products_catalog ON public.products USING btree (category_id, price_cents) WHERE is_published;


--
-- Name: idx_products_name_trgm; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_products_name_trgm ON public.products USING gin (public.immutable_unaccent((name)::text) public.gin_trgm_ops);


--
-- Name: idx_products_price; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_products_price ON public.products USING btree (price_cents) WHERE is_published;


--
-- Name: idx_products_search; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_products_search ON public.products USING gin (search_vector);


--
-- Name: idx_push_tokens_user; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_push_tokens_user ON public.push_tokens USING btree (user_id);


--
-- Name: idx_refresh_tokens_user; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_refresh_tokens_user ON public.refresh_tokens USING btree (user_id) WHERE (revoked_at IS NULL);


--
-- Name: idx_reviews_product; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_reviews_product ON public.reviews USING btree (product_id, created_at DESC);


--
-- Name: idx_reviews_user; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_reviews_user ON public.reviews USING btree (user_id);


--
-- Name: idx_waitlist_queue; Type: INDEX; Schema: public; Owner: nova
--

CREATE INDEX idx_waitlist_queue ON public.drop_waitlist USING btree (drop_id, joined_at) WHERE (status = 'waiting'::public.waitlist_status);


--
-- Name: drops trg_drops_updated; Type: TRIGGER; Schema: public; Owner: nova
--

CREATE TRIGGER trg_drops_updated BEFORE UPDATE ON public.drops FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: orders trg_orders_updated; Type: TRIGGER; Schema: public; Owner: nova
--

CREATE TRIGGER trg_orders_updated BEFORE UPDATE ON public.orders FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: products trg_products_updated; Type: TRIGGER; Schema: public; Owner: nova
--

CREATE TRIGGER trg_products_updated BEFORE UPDATE ON public.products FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: reviews trg_reviews_updated; Type: TRIGGER; Schema: public; Owner: nova
--

CREATE TRIGGER trg_reviews_updated BEFORE UPDATE ON public.reviews FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: users trg_users_updated; Type: TRIGGER; Schema: public; Owner: nova
--

CREATE TRIGGER trg_users_updated BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: ai_tool_calls ai_tool_calls_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.ai_tool_calls
    ADD CONSTRAINT ai_tool_calls_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: authenticity_checks authenticity_checks_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.authenticity_checks
    ADD CONSTRAINT authenticity_checks_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE SET NULL;


--
-- Name: authenticity_checks authenticity_checks_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.authenticity_checks
    ADD CONSTRAINT authenticity_checks_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.product_units(id) ON DELETE SET NULL;


--
-- Name: authenticity_checks authenticity_checks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.authenticity_checks
    ADD CONSTRAINT authenticity_checks_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: categories categories_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.categories(id) ON DELETE SET NULL;


--
-- Name: drop_products drop_products_drop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.drop_products
    ADD CONSTRAINT drop_products_drop_id_fkey FOREIGN KEY (drop_id) REFERENCES public.drops(id) ON DELETE CASCADE;


--
-- Name: drop_products drop_products_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.drop_products
    ADD CONSTRAINT drop_products_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: drop_waitlist drop_waitlist_drop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.drop_waitlist
    ADD CONSTRAINT drop_waitlist_drop_id_fkey FOREIGN KEY (drop_id) REFERENCES public.drops(id) ON DELETE CASCADE;


--
-- Name: drop_waitlist drop_waitlist_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.drop_waitlist
    ADD CONSTRAINT drop_waitlist_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: order_items order_items_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.product_units(id);


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: product_images product_images_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_units product_units_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.product_units
    ADD CONSTRAINT product_units_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: product_units product_units_verified_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.product_units
    ADD CONSTRAINT product_units_verified_by_fkey FOREIGN KEY (verified_by) REFERENCES public.users(id);


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: push_tokens push_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.push_tokens
    ADD CONSTRAINT push_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_replaced_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_replaced_by_fkey FOREIGN KEY (replaced_by) REFERENCES public.refresh_tokens(id);


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reviews reviews_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: reviews reviews_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nova
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict m3eIov2LjDafck3dyozgi9zJysLr716tTtI8879fAsMxbp7aNmlE8s4aU8aKmsc

